<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <h2>Наше меню</h2>
        <p>Піци:</p>
        <table>
            <tr>
                <th>Назва піци</th>
                <th>Опис інгридієнтів</th>
                <th>Ціна піци(грн)</th>
            </tr>
            <!-- Додайте рядки для кожної страви -->
            <tr>
                <td>Маргарита</td>
                <td>ПОмідори, тісто, кетчуп</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Салямі</td>
                <td>ПОмідори, тісто, кетчупб ковбаса салямі</td>
                <td>140</td>
            </tr>
            <tr>
                <td>ПІца 3</td>
                <td>ПОмідори, тісто, кетчуп</td>
                <td>110</td>
            </tr>
            <tr>
                <td>Піца 4</td>
                <td>ПОмідори, тісто, кетчуп</td>
                <td>105</td>
            </tr>
            <tr>
                <td>Піца 5</td>
                <td>ПОмідори, тісто, кетчуп</td>
                <td>100</td>
            </tr>
        </table>

        <p><a href="/index">Повернутися на головну сторінку</a></p>
    </body>